.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.log
*.swp
.DS_Store
android/.gradle/
android/captures/
android/local.properties
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
.env
*.g.dart
*.freezed.dart
coverage/
.fvm/